.file-upload-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 30px;
  background-color: #f9f9f9;
}

.upload-title {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.input-container {
  margin-top: 20px;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  /* background-color: #ccc; */
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.custom-file-label:hover {
  background-color: #ebebeb;
  color: #000;
  border: 1px solid #000;
}

.description-input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.primary-button,
.secondary-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.primary-button {
  background-color: #ccc;
  color: #000;
  border: 2px solid #ccc;
}

.primary-button:hover {
  background-color: #aaa;
  color: #000;
  border: 2px solid #000;
}

.secondary-button:hover {
  border: 1px solid #000;
}

.today-prompt {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 0 50px;
}

.err-container{
  color: red; 
}